<LinkTo @route='cart' class='cart-link'>
  <i class='bi bi-cart3'></i>
  {{#if (cart-display this.cart.itemList this.itemCount)}}
    
  
    <span
      class='cart-count d-inline-flex justify-content-center align-items-center'
    >
      {{this.itemCount}}
    </span>
  {{/if}}

</LinkTo>

<main class='container mt-5'>
  {{yield}}
</main>